.table
  .table-row
    .table-cell.sidebar
      %h2
        %br
        Adopt a Drain
      %p.alert-message.block-message#tagline
        = t("defaults.tagline")
      #content
        = render :partial => "sidebar/combo_form"
      #logos
        %a{:href => "http://codeforftl.org/"}
          = image_tag "https://avatars1.githubusercontent.com/u/5661283", :width => '180px', :alt => t("sponsors.cfa"), :title => t("sponsors.cfa")
    .table-cell#map
      &nbsp;
